<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload One File</title>
</head>
<body>
<form th:action="@{upload-one-file}" method="POST" th:object="${uploadFile}" >
    <input type="hidden" th:field="*{id}">
    Description:
    <br>
    <input type="text" th:field="*{description}" style="width:300px;"/>
    <br/><br/>
    File to upload: <input th:field="*{fileDatas}" th:name="${fileDatas}" type="file"/><br />
    <input type="submit" value="Upload">
</form>
</body>
</html>